header h1 h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.contain{
    margin:auto;
    width: 100%;
    background: white;
}

.headnav{
    display: flex;
    justify-content: space-around;
    
}
.main{
    line-height: 60px;
    text-decoration:none;
    border-right: solid 1px;
    padding: 10px;
}
a:last-child{
    border-right: none;
}
h2{
    margin: auto;
    width: 960px;
    padding: 10px;
}
.contain2{
    margin: auto;
    width: 960px;
    position: relative;
    top: 60px;
}
.article{
    padding: 10px;
    display: flex;
    justify-content:space-around;
    background: white;
}
.bck1{
    background-image: url(images/lilypads.png);
}
.bck{
    background-image: url(images/lilypads.png);
    height: 550px;
}

.container{
    background:#ffffff;
    width: 960px;

}

.h1{
    width: 30%;
    background-image: url(farmer.jpg);
}
.href{
background-image: url(farmer.jpg);
padding:10px;
}
.bighref{
    display:flex;
    flex-flow: column wrap;
    justify-content: space-evenly;

}

article{
    padding:10px;
    font-size: 20px;
}
hr{
    margin: 0px;
}
header{
    background: #4aaaa5;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
}
h2{
    color: #4aaaa5;
    font-size: 25px;
}
h1{
    color:white;
}
footer {
    border-top: solid 10px #4aaaa5;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:grey;
    color: white;
    text-align: center;
    line-height: 40px;
  }
  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }
  
 .card {
     flex: 0 1 25%;
 }
 form{
padding: 10px;
 }
 .text-box{
     width:900px;
 }
 .button{
    padding: 5px 0px;
 }
